body{
    /* margin-top: 70px; */
    background-color: #111 no-repeat;
    background-size: cover;
    color: #fff;
}
.dark-overlay{
    background:url(./img/person-using-laptop-computer-during-daytime-196655.jpg) no-repeat;
    opacity: 0.85;
    background-size: cover;
    width:100%; 
    min-height: 700px;
    background-position: fixed;
    /* padding-bottom: 50px; */
    
}
.soc :hover{
    transform: scale(1.1);
    transition: .9s;
}

